In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# Find Total School Count
school_names = school_data_complete["school_name"].unique()

total_schools = len(school_names)
print(total_schools)
# Find Total Student Count
student_names = school_data_complete["student_name"].count()
print(student_names)

15
39170

In [3]:
# Find total budget for all schools
budget_df = school_data_complete["budget"].unique()
#budget_df
total_budget_df = sum(budget_df)
total_budget_df

24649428

In [4]:
# Calculate average math score
math_scores = school_data_complete['math_score'].mean()
print(math_scores)
# Calculate average reading score
reading_scores = school_data_complete["reading_score"].mean()
print(reading_scores)

78.98537145774827
81.87784018381414

In [5]:
# Percentage of Students with passing math score above 70
passing_math = school_data_complete.loc[:, ["math_score"]] >= 70
#passing_math["math_score"].value_counts("True")

sum_math = sum(passing_math["math_score"])
sum_math

percent_pass_math = (sum_math / student_names) * 100
percent_pass_math

74.9808526933878

In [6]:
# Percentage of Student with passing reading score above 70
pass_reading = school_data_complete.loc[: , ["reading_score"]] >= 70
sum_reading = sum(pass_reading["reading_score"])
percent_pass_reading = (sum_reading / student_names) * 100
percent_pass_reading

85.80546336482001

In [7]:
# Find % of Passing both Math and Reading together
total_percent = school_data_complete[(school_data_complete['math_score'] >= 70) & 
                                   (school_data_complete['reading_score'] >= 70)]['Student ID'].count()/student_names*100
total_percent

65.17232575950983

In [8]:
summary_df = pd.DataFrame({"Total Schools": [total_schools],
                          "Total Students": f'{student_names:,}',
                          "Total Budget": f'${total_budget_df:,.2f}',
                          "Average Math Score": [math_scores],
                          "Average Reading Score": [reading_scores],
                          "% Passing Math": [percent_pass_math],
                          "% Passing Reading": [percent_pass_reading],
                          "% Pass Math and Reading": [total_percent]})  
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Pass Math and Reading
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

 # School Summary
 
Create an overview table that summarizes key metrics about each school, including:
* School Name
* School Type
* Total Students
* Total School Budget
* Per Student Budget
* Average Math Score
* Average Reading Score
* % Passing Math
* % Passing Reading
* % Overall Passing (The percentage of students that passed math and reading.)


Create a dataframe to hold the above results

In [9]:
# group data by school name
school_group = school_data_complete.set_index('school_name').groupby(['school_name'])

In [10]:
# find school type with school names
school_type = school_data.set_index('school_name')['type']

In [11]:
# Find total students per school
student_perschool = school_group['student_name'].count()

In [12]:
# Total School Budgets
school_budget = school_data.set_index('school_name')['budget']
#print(school_budget)
# Total school size, for budget per student
school_students_budget = school_data.set_index('school_name')['size']
#print(school_students)

In [13]:
# Budget per student by school
student_budget = school_budget / school_students_budget

In [14]:
# Average math score per school
average_school_math = school_group["math_score"].mean()
# Average reading score per school
average_school_reading = school_group["reading_score"].mean()

In [15]:
# % Passing math
pass_math_percent = school_data_complete[school_data_complete['math_score'] >=70].groupby('school_name')['Student ID'].count()/student_perschool * 100

# % Passing reading
pass_reading_percent = school_data_complete[school_data_complete['reading_score'] >=70].groupby('school_name')['Student ID'].count()/student_perschool * 100

In [16]:
# % Pass math and reading
pass_math_reading = school_data_complete[(school_data_complete['math_score'] >=70) & (school_data_complete['reading_score'] >=70)].groupby('school_name')['Student ID'].count()/student_perschool * 100

In [17]:
school_summary_df = pd.DataFrame({
    "School Type": school_type,
    "Total Students": student_perschool,
    "Total School Budget": school_budget,
    "Per Student Budget": student_budget,
    "Average Math Score": average_school_math,
    "Average Reading Score": average_school_reading,
    "% Passing Math": pass_math_percent,
    "% Passing Reading": pass_reading_percent,
    "% Overall Passing": pass_math_reading
})

#school_summary_df = school_summary_df[['School Type', 'Total Students',
                      #    'Total School Budget', 
                      #    'Per Student Budget', 
                      #    'Average Math Score', 
                      #    'Average Reading Score',
                      #    '% Passing Math',
                      #    '% Passing Reading',
                      #    '% Overall Passing']]

school_summary_df.style.format({'Total Students': "{:,}", 
                          "Total School Budget": "${:,.0f}", 
                          "Per Student Budget": "${:.0f}",
                          'Average Math Score': "{:.3f}", 
                          'Average Reading Score': "{:.3f}", 
                          "% Passing Math": "{:.2f}%", 
                          "% Passing Reading": "{:.2f}%", 
                          "% Overall Passing": "{:.2f}%"})

# Top Performing Schools (By % Overall Passing)
 
* Sort and display the top five performing schools by % overall passing.

In [18]:
top_performing_df = school_summary_df.sort_values('% Overall Passing', ascending=False)
top_performing_df.head().style.format({'Total Students': "{:,}", 
                          "Total School Budget": "${:,.0f}", 
                          "Per Student Budget": "${:.0f}",
                          'Average Math Score': "{:.3f}", 
                          'Average Reading Score': "{:.3f}", 
                          "% Passing Math": "{:.2f}%", 
                          "% Passing Reading": "{:.2f}%", 
                          "% Overall Passing": "{:.2f}%"})

# Bottom Performing Schools (By % Overall Passing)
 
* Sort and display the five worst-performing schools by % overall passing.

In [19]:
bottom_performing_df = school_summary_df.sort_values('% Overall Passing')
bottom_performing_df.head().style.format({'Total Students': "{:,}", 
                          "Total School Budget": "${:,.0f}", 
                          "Per Student Budget": "${:.0f}",
                          'Average Math Score': "{:.3f}", 
                          'Average Reading Score': "{:.3f}", 
                          "% Passing Math": "{:.2f}%", 
                          "% Passing Reading": "{:.2f}%", 
                          "% Overall Passing": "{:.2f}%"})

# Math Scores by Grade
 
* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
    * Create a pandas series for each grade. Hint: use a conditional statement.
    * Group each series by school
    * Combine the series into a dataframe
    * Optional: give the displayed data cleaner formatting

In [20]:
# Sort mean math score from student_data by school name and grades
ninth_math_grade = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')['math_score'].mean()
tenth_math_grade = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')['math_score'].mean()
eleventh_math_grade = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')['math_score'].mean()
twelfth_math_grade = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')['math_score'].mean()

grade_scores_math = pd.DataFrame({
    '9th': ninth_math_grade,
    '10th': tenth_math_grade,
    '11th': eleventh_math_grade,
    '12th': twelfth_math_grade,
})

grade_scores_math.style.format({'9th': '{:.3f}',
                               '10th': '{:.3f}',
                               '11th': '{:.3f}',
                               '12th': '{:.3f}'
                               })

# Reading Score by Grade
* Perform the same operations as above for reading scores

In [21]:
ninth_reading_grade = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')['reading_score'].mean()
tenth_reading_grade = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')['reading_score'].mean()
eleventh_reading_grade = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')['reading_score'].mean()
twelfth_reading_grade = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')['reading_score'].mean()

grade_scores_math = pd.DataFrame({
    '9th': ninth_reading_grade,
    '10th': tenth_reading_grade,
    '11th': eleventh_reading_grade,
    '12th': twelfth_reading_grade,
})

grade_scores_math.style.format({'9th': '{:.3f}',
                               '10th': '{:.3f}',
                               '11th': '{:.3f}',
                               '12th': '{:.3f}'
                               })

# Scores by School Spending
 
* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
    * Average Math Score
    * Average Reading Score
    * % Passing Math
    * % Passing Reading
    * Overall Passing Rate (Average of the above two)

In [26]:
# Create bins and sort data into them appropriately
bins = [0, 584, 629, 644, 675]
bin_names = ["<$584", "$585-629", "$630-644", "$645-675"]

school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels=bin_names)
school_data_complete['spending_bins']

# Group bins together
schools_spending = school_data_complete.groupby('spending_bins')

math_avg_bins = schools_spending['math_score'].mean()
reading_avg_bins = schools_spending['reading_score'].mean()

perc_math_bins = school_data_complete[school_data_complete['math_score'] >=70 ].groupby('spending_bins')['Student ID'].count()/schools_spending['Student ID'].count() * 100
perc_reading_bins = school_data_complete[school_data_complete['reading_score'] >=70 ].groupby('spending_bins')['Student ID'].count()/schools_spending['Student ID'].count() * 100

perc_overall_pass = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/schools_spending['Student ID'].count() * 100

In [35]:
# Create dataframe for data
school_spending_df = pd.DataFrame({'Average Math Score': math_avg_bins,
                                  'Average Reading Score': reading_avg_bins,
                                  "% Passing Math": perc_math_bins,
                                  '% Passing Reading': perc_reading_bins,
                                  "% Overall Passing": perc_overall_pass})

school_spending_df.index.name = "Student Budget"

school_spending_df.style.format({
    'Average Math Score': '{:.3f}',
    'Average Reading Score': '{:.3f}',
    '% Passing Math': "{:.2f}%",
    '% Passing Reading': "{:.2f}%",
    '% Overall Passing': "{:.2f}%"
})

# Scores by School Size
 
* Perform the same operations as above, based on school size.

In [31]:
# Create bins for School Size
bins = [0, 1000, 1999,5000]
group_name = ["Small (<1000)", "Medium (1000-2000)" , "Large (2000-5000)"]
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], bins, labels = group_name)

# Group by Size
size_group = school_data_complete.groupby('size_bins')

# Scores by Size 
size_math_score = size_group['math_score'].mean()
size_reading_score = size_group['math_score'].mean()
size_math_percent = school_data_complete[school_data_complete['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/size_group['Student ID'].count()*100
size_read_percent = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/size_group['Student ID'].count()*100
size_perc_overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/size_group['Student ID'].count()*100

In [36]:
# Create Dataframe for size
size_scores_df = pd.DataFrame({'Average Math Score': size_math_score,
                                'Average Reading Score': size_reading_score,
                                "% Passing Math": size_math_percent,
                                '% Passing Reading': size_read_percent,
                                "% Overall Passing": size_perc_overall})

size_scores_df.index.name = "Number of Students"

size_scores_df.style.format({
    'Average Math Score': '{:.3f}',
    'Average Reading Score': '{:.3f}',
    '% Passing Math': "{:.2f}%",
    '% Passing Reading': "{:.2f}%",
    '% Overall Passing': "{:.2f}%"
})

# Scores by School Type
* Perform the same operations as above, based on school type

In [39]:
# group by type of school
school_type = school_data_complete.groupby("type")

#calculations 
type_math_score = school_type['math_score'].mean()
type_reading_score = school_type['math_score'].mean()
type_math_percent = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/school_type['Student ID'].count()*100
type_reading_percent = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/school_type['Student ID'].count()*100
type_overall_perc = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('type')['Student ID'].count()/school_type['Student ID'].count()*100

In [40]:
scores_schooltype_df = pd.DataFrame({'Average Math Score': type_math_score,
                                'Average Reading Score': type_reading_score,
                                "% Passing Math": type_math_percent,
                                '% Passing Reading': type_reading_percent,
                                "% Overall Passing": type_overall_perc})

scores_schooltype_df.index.name = "Type of School"

scores_schooltype_df.style.format({
    'Average Math Score': '{:.3f}',
    'Average Reading Score': '{:.3f}',
    '% Passing Math': "{:.2f}%",
    '% Passing Reading': "{:.2f}%",
    '% Overall Passing': "{:.2f}%"
})