In [182]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [183]:
# Find Total School Count
school_names = school_data_complete["school_name"].unique()

total_schools = len(school_names)
print(total_schools)
# Find Total Student Count
student_names = school_data_complete["student_name"].count()
print(student_names)

15
39170

In [184]:
# Find total budget for all schools
budget_df = school_data_complete["budget"].unique()
#budget_df
total_budget_df = sum(budget_df)
total_budget_df

24649428

In [185]:
# Calculate average math score
math_scores = school_data_complete['math_score'].mean()
print(math_scores)
# Calculate average reading score
reading_scores = school_data_complete["reading_score"].mean()
print(reading_scores)

78.98537145774827
81.87784018381414

In [186]:
# Percentage of Students with passing math score above 70
passing_math = school_data_complete.loc[:, ["math_score"]] >= 70
#passing_math["math_score"].value_counts("True")

sum_math = sum(passing_math["math_score"])
sum_math

percent_pass_math = (sum_math / student_names) * 100
percent_pass_math

74.9808526933878

In [187]:
# Percentage of Student with passing reading score above 70
pass_reading = school_data_complete.loc[: , ["reading_score"]] >= 70
sum_reading = sum(pass_reading["reading_score"])
percent_pass_reading = (sum_reading / student_names) * 100
percent_pass_reading

85.80546336482001

In [188]:
# Find % of Passing both Math and Reading together
total_percent = school_data_complete[(school_data_complete['math_score'] >= 70) & 
                                   (school_data_complete['reading_score'] >= 70)]['Student ID'].count()/student_names*100
total_percent

65.17232575950983

In [189]:
summary_df = pd.DataFrame({"Total Schools": [total_schools],
                          "Total Students": [student_names],
                          "Total Budget": [total_budget_df],
                          "Average Math Score": [math_scores],
                          "Average Reading Score": [reading_scores],
                          "% Passing Math": [percent_pass_math],
                          "% Passing Reading": [percent_pass_reading],
                          "% Pass Math and Reading": [total_percent]})  
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Pass Math and Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

 # School Summary
 
Create an overview table that summarizes key metrics about each school, including:
* School Name
* School Type
* Total Students
* Total School Budget
* Per Student Budget
* Average Math Score
* Average Reading Score
* % Passing Math
* % Passing Reading
* % Overall Passing (The percentage of students that passed math and reading.)


Create a dataframe to hold the above results

In [190]:
# group data by school name
school_group = school_data_complete.set_index('school_name').groupby(['school_name'])

In [191]:
# find school type with school names
school_type = school_data.set_index('school_name')['type']

In [192]:
# Find total students per school
student_perschool = school_group['student_name'].count()

In [203]:
# Total School Budgets
school_budget = school_data.set_index('school_name')['budget']
#print(school_budget)
# Total school size, for budget per student
school_students_budget = school_data.set_index('school_name')['size']
#print(school_students)

In [204]:
# Budget per student by school
student_budget = school_budget / school_students_budget

In [205]:
# Average math score per school
average_school_math = school_group["math_score"].mean()
# Average reading score per school
average_school_reading = school_group["reading_score"].mean()

In [206]:
# % Passing math
pass_math_percent = school_data_complete[school_data_complete['math_score'] >=70].groupby('school_name')['Student ID'].count()/student_perschool * 100

# % Passing reading
pass_reading_percent = school_data_complete[school_data_complete['reading_score'] >=70].groupby('school_name')['Student ID'].count()/student_perschool * 100

In [207]:
# % Pass math and reading
pass_math_reading = school_data_complete[(school_data_complete['math_score'] >=70) & (school_data_complete['reading_score'] >=70)].groupby('school_name')['Student ID'].count()/student_perschool * 100

In [208]:
school_summary_df = pd.DataFrame({
    "School Type": school_type,
    "Total Students": student_perschool,
    "Total School Budget": school_budget,
    "Per Student Budget": school_students_budget,
    "Average Math Score": average_school_math,
    "Average Reading Score": average_school_reading,
    "% Passing Math": pass_math_percent,
    "% Passing Reading": pass_reading_percent,
    "% Overall Passing": pass_math_reading
})
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,4976,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,1858,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,2949,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,2739,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,1468,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,4635,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,427,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,2917,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,4761,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,962,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,3999,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,1761,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,1635,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,2283,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,1800,83.682222,83.955000,93.333333,96.611111,90.333333